html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.js-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.container-item {
  width: calc(100% / 6);
  list-style-type: none;
}

.js-container img {
  width: calc(100%);
}
